/ Error 422
/ Display top content
= render "errors/top_content"
.col.text-center
  .p-5
    %h1{:style => "color: #dc3545"} Change Rejected
    .invisible
      %sup#error-code 422
    %h6 Maybe you tried to change something you didn't have access to.
    %p
      If you continue to see this message please send a description of the problem
      = mail_to "support@epigenesys.org.uk", 'here.', style: 'color: blue'

/ Footer
= render "layouts/footer"
