/ Error 500
/ Display top content
= render "errors/top_content"

- content_for :title, "Server Error"

.col.text-center
  .p-5
    %h1{:style => "color: #dc3545"} Server Error
    .invisible
      %sup#error-code 500
    %h6 Sorry, there was a problem. Please try again!
    %p
      If you continue to see this message please send a description of the problem
      = mail_to "support@epigenesys.org.uk", 'here.', style: 'color: blue'

/ Footer
= render "layouts/footer"
