/ Header
%header.masthead.text-center.text-white
  .masthead-content
    .container
      / Displaying the image with the logo
      %p
        %a
          =image_tag "logo.JPG"
      %h1.masthead-heading.mb-0 Hope Valley Hurricanes
      %h2.masthead-subheading.mb-0 Running Club
      / Contact us button linking to the page
      %a.btn.btn-primary.btn-xl.rounded-pill.mt-5{:href => "/contact_us"}CONTACT US
  / Displaying the graphics for the circles used in the header
  .bg-circle-1.bg-circle
  .bg-circle-2.bg-circle
  .bg-circle-3.bg-circle
  .bg-circle-4.bg-circle
/ End of header
