<!-- Mailer page -->
<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <!-- Body -->
  <body>
    <%= yield %>
  </body>
</html>
